//- index.pug
doctype html
html
  head
    title Veer Dance
    style
      include ../static/style.css
  body
    nav#navbar
      ul 
        div#logo
          img(src="/static/img/logo.png", alt="")
          //- | VDA
        li #[a(href="/") Home]
        li #[a(href="/") About ]
        li #[a(href="/") Services]
        li #[a(href="/") Class Info]
        li #[a(href="/") Contact]

    section#introSection  
      div.Small  #[strong Dance to your own beat]

    section#MissionSection  
      h1  Our Mission
      div.card
        h3  Dance Perfection
        div.card-box 
          div.card-img
            img(src="/static/img/logo2.png", alt="")

          div.card-content
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore ipsa in eos quia amet officia tempora qui. Delectus, optio cupiditate.

      div.card
        h3  Dance The Way You Like
        div.card-box 
          div.card-img
            img(src="/static/img/logo5.png", alt="")

          div.card-content
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore ipsa in eos quia amet officia tempora qui. Delectus, optio cupiditate.
      div.card
        h3  Expert Teaching 
        div.card-box 
          div.card-img
            img(src="/static/img/logo3.png", alt="")

          div.card-content
            p   In teaching, our most problem is helping Moves learn, and so expert teachers are people who consistently help Moves make progress.
     
    section#sponsorsSection  
      h2 Our Sponsers 
      div#sponsers
        img(src="/static/img/skype.png", alt="" class="spoImg")
        img(src="/static/img/mybg78.png", alt="" class="spoImg2")
        img(src="/static/img/micro.png", alt="" class="spoImg3")
        img(src="/static/img/spo1.png", alt="" class="spoImg4")
    footer#footer 
      | Copyright © 2020-2021  &nbsp;&nbsp;&nbsp;  Veer Dance Academy 
    script
      include ../static/index.js